Authorization/Connected Services/LoginSessionService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClientServerModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClientServerModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoggedClient">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Points" type="xs:int" />
      <xs:element minOccurs="0" name="SessionToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoggedClient" nillable="true" type="tns:LoggedClient" />
  <xs:complexType name="GameSession">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Map" type="tns:GameSession.MapSize" />
      <xs:element minOccurs="0" name="MapSizeAsString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberPlayers" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameSession" nillable="true" type="tns:GameSession" />
  <xs:simpleType name="GameSession.MapSize">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Small" />
      <xs:enumeration value="Medium" />
      <xs:enumeration value="High" />
      <xs:enumeration value="VeryHigh" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GameSession.MapSize" nillable="true" type="tns:GameSession.MapSize" />
  <xs:complexType name="Character">
    <xs:sequence>
      <xs:element minOccurs="0" name="MainBlueColor" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="MainGreenColor" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="MainRedColor" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrokeBlueColor" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="StrokeGreenColor" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="StrokeLength" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="StrokeRedColor" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="StrokeSpace" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Character" nillable="true" type="tns:Character" />
  <xs:complexType name="ArrayOfGameSession">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameSession" nillable="true" type="tns:GameSession" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameSession" nillable="true" type="tns:ArrayOfGameSession" />
  <xs:complexType name="ArrayOfCharacter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Character" nillable="true" type="tns:Character" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCharacter" nillable="true" type="tns:ArrayOfCharacter" />
</xs:schema>