Authorization/Connected Services/LoginSessionService/LoginSession.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoginSession" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILoginSession_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClientServerModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoginSession_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="ILoginSession_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginSession_CreateGameSession_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameSession" />
  </wsdl:message>
  <wsdl:message name="ILoginSession_CreateGameSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginSession_DeleteGameSession_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGameSession" />
  </wsdl:message>
  <wsdl:message name="ILoginSession_DeleteGameSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGameSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginSession_CreateCharacter_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCharacter" />
  </wsdl:message>
  <wsdl:message name="ILoginSession_CreateCharacter_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCharacterResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginSession_DeleteCharacter_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCharacter" />
  </wsdl:message>
  <wsdl:message name="ILoginSession_DeleteCharacter_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCharacterResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginSession_RefreshSessionList_InputMessage">
    <wsdl:part name="parameters" element="tns:RefreshSessionList" />
  </wsdl:message>
  <wsdl:message name="ILoginSession_RefreshSessionList_OutputMessage">
    <wsdl:part name="parameters" element="tns:RefreshSessionListResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginSession_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="ILoginSession_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginSession_GetCharacters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacters" />
  </wsdl:message>
  <wsdl:message name="ILoginSession_GetCharacters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharactersResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginSession_TryConnectToGameSession_InputMessage">
    <wsdl:part name="parameters" element="tns:TryConnectToGameSession" />
  </wsdl:message>
  <wsdl:message name="ILoginSession_TryConnectToGameSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:TryConnectToGameSessionResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoginSession">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginSession/Connect" message="tns:ILoginSession_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginSession/ConnectResponse" message="tns:ILoginSession_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGameSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginSession/CreateGameSession" message="tns:ILoginSession_CreateGameSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginSession/CreateGameSessionResponse" message="tns:ILoginSession_CreateGameSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGameSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginSession/DeleteGameSession" message="tns:ILoginSession_DeleteGameSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginSession/DeleteGameSessionResponse" message="tns:ILoginSession_DeleteGameSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCharacter">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginSession/CreateCharacter" message="tns:ILoginSession_CreateCharacter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginSession/CreateCharacterResponse" message="tns:ILoginSession_CreateCharacter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCharacter">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginSession/DeleteCharacter" message="tns:ILoginSession_DeleteCharacter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginSession/DeleteCharacterResponse" message="tns:ILoginSession_DeleteCharacter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RefreshSessionList">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginSession/RefreshSessionList" message="tns:ILoginSession_RefreshSessionList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginSession/RefreshSessionListResponse" message="tns:ILoginSession_RefreshSessionList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginSession/Disconnect" message="tns:ILoginSession_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginSession/DisconnectResponse" message="tns:ILoginSession_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharacters">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginSession/GetCharacters" message="tns:ILoginSession_GetCharacters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginSession/GetCharactersResponse" message="tns:ILoginSession_GetCharacters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TryConnectToGameSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginSession/TryConnectToGameSession" message="tns:ILoginSession_TryConnectToGameSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginSession/TryConnectToGameSessionResponse" message="tns:ILoginSession_TryConnectToGameSession_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILoginSession" type="tns:ILoginSession">
    <wsp:PolicyReference URI="#NetTcpBinding_ILoginSession_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/ILoginSession/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGameSession">
      <soap12:operation soapAction="http://tempuri.org/ILoginSession/CreateGameSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGameSession">
      <soap12:operation soapAction="http://tempuri.org/ILoginSession/DeleteGameSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCharacter">
      <soap12:operation soapAction="http://tempuri.org/ILoginSession/CreateCharacter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCharacter">
      <soap12:operation soapAction="http://tempuri.org/ILoginSession/DeleteCharacter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshSessionList">
      <soap12:operation soapAction="http://tempuri.org/ILoginSession/RefreshSessionList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/ILoginSession/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharacters">
      <soap12:operation soapAction="http://tempuri.org/ILoginSession/GetCharacters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TryConnectToGameSession">
      <soap12:operation soapAction="http://tempuri.org/ILoginSession/TryConnectToGameSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginSession">
    <wsdl:port name="NetTcpBinding_ILoginSession" binding="tns:NetTcpBinding_ILoginSession">
      <soap12:address location="net.tcp://localhost:8001/GameServerServices.SessionsServices.LoginSessionService.LoginSession" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8001/GameServerServices.SessionsServices.LoginSessionService.LoginSession</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>